@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.nav__content ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}
.nav__content ul li a {
  
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

.nav__content ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.action__btns ul {
  position:relative;
  top: 40px;
  left: 110px;
  bottom: 10%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
  display:flex;
}

.action__btns ul  li {
  list-style: none;
}

.action__btns ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 30px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

.action__btns ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

.action__btns ul li a .fab {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

.action__btns ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

.action__btns ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.action__btns ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

.action__btns ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

.action__btns ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}
.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.about{
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}
.abouthr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 84, 132), rgba(0, 0, 0, 0));
}

.about_section{
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding-top: 7rem;

}
.about_section p{
  margin: 30px;
  font-size: 200;
  align-self: center;
}
.education_section{
  min-height: 100vh;
  margin: auto;
  padding-top: 10rem;
  background-color: var(--extra-light);
  justify-content: center;
}

.education_section h1 {
  text-align: center;
  position: relative;
  top: -50px;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

.education_section ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}


.education_section ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}


.education_section ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}


.education_section ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}


.education_section ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}


.education_section ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}


.education_section ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}


.education_section ul li .title,
.education_section ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
.education_section ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
.education_section ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}


.education_section ul li .title::before,
.education_section ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.education_section ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

.education_section ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  .education_section ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .education_section ul::before {
    grid-column: 2;
  }
  .education_section ul li:nth-child(odd) {
    grid-column: 1;
  }
  .education_section ul li:nth-child(even) {
    grid-column: 3;
  }

 
  .education_section ul li:nth-child(2) {
    grid-row: 2/4;
  }

  .education_section ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .education_section ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .education_section ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}



.about{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.git {
  background-color: var(--primary-color);
  color: #ffffff;
}

.git:hover {
  background-color: var(--primary-color-dark);
}

.tg {
  color: var(--primary-color);
}

.tg:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

    .nav__content ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  .nav__content ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}
.skills_section .contact{
  position: relative;
  top: 40px;
  left: 60px;
  width: var(--max-width);
  height: 100vh;
  align-items: center;
}
.wrapper {
  position: relative;
  top: 10px;
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
  padding: 40px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}


.skills_section h1{
  position: relative;
  top: 70px;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

.skills-wrapper{
  padding: 0 20px;
}

.skills-wrapper .bar{
  margin: 20px 0;
}

.skills-wrapper .bar .info {
  margin-bottom: 10px;
}

.skills-wrapper .bar .info span{
  letter-spacing: 1px;
  text-transform: uppercase;
}

.skills-wrapper .bar .progress-bar{
  width: 100%;
  height: 15px;
  background-color: #dddddd;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.skills-wrapper .bar .progress-bar span{
  position: absolute;
  height: 100%;
  border-radius: 10px;
  transform: scale(0);
  background-color: var(--primary-color);
  animation: animate 1s cubic-bezier(1, 0 , 0.5, 1) forwards;
}

@keyframes animate {
  100%{
      transform: scale(1);
  }
}


.skills-wrapper .bar .progress-bar span.html{
  width: 90%;
}

.skills-wrapper .bar .progress-bar span.css{
  width: 70%;
}


.skills-wrapper .bar .progress-bar span.javascript{
  width: 60%;
}

.skills-wrapper .bar .progress-bar span.cpp{
  width: 70%;
}
.skills-wrapper .bar .progress-bar span.python{
  width: 50%;
}
.skills-wrapper .bar .progress-bar span.java{
  width: 50%;
}
.skills-wrapper .bar .progress-bar span.mysql{
  width: 65%;
}
.skills-wrapper .bar .progress-bar span.php{
  width: 45%;
}

.contact {
  
  background-color: #000;
  padding-bottom: 100px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
  top: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  
  margin: auto;
  padding: 20px;
  position: relative;
  
  max-width: var(--max-width);
  top: 10px;
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
  
  
}


.direct-contact-container {
  max-width: var(--max-width);
}

.contact-list {
  list-style-type: none;
  left: 10px;
  
}

.list-item {
  list-style-type: none;
  line-height: 4;
  color: #aaa;
  position: relative;
  text-align: center;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 56px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
  left: 0px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}



.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

.social {
  
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 84, 132), rgba(0, 0, 0, 0));
  border: 0;    height: 3px;
}


@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}


